# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=
# MYSQL_DATABASE=fae
# MYSQL_TABLE=users

# MONGODB_URI=mongodb://localhost:27017
# MONGODB_DATABASE=fae
# MONGODB_COLLECTION=users
